
nb-tabset {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  :host ::ng-deep ngx-tab1, :host ::ng-deep ngx-tab2 {
    display: flex;
    padding: 1rem 2rem;
  }
  .add-users{
    width: 60%;
    
  }
  .cdk-overlay-pane{
      display: inline !important;
  }
  .cancel {
    margin-right: 1rem;
  }