<nb-card>
    <nb-card-header>Add User</nb-card-header>
    <nb-card-body>

        <div class="row">
            <div class="col-md-12 col-lg-12">
              <nb-card size="small">
                <nb-tabset>
                  <nb-tab tabTitle="User Information">

                    <div class="row">
                        <div class="col">
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-4 col-form-label">First Name: </label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="FirstName"  [(ngModel)]="user.FirstName" placeholder="First Name">
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-5 col-form-label">Middle Name: </label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="MiddleName" [(ngModel)]="user.MiddleName" placeholder="Middle Name">
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-4 col-form-label">Last Name: </label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="LastName" [(ngModel)]="user.LastName" placeholder="Last Name">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-8">
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-2 col-form-label">Address: </label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="Address" [(ngModel)]="user.Address" placeholder="Address">
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-4 col-form-label"> Birthdate: </label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="BirthDate" [(ngModel)]="user.BirthDate"  placeholder="Birthdate">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-4 col-form-label">Mobile No.: </label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="MobileNumber" [(ngModel)]="user.MobileNumber" placeholder="Mobile No.">
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-5 col-form-label">Email Address: </label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="EmailAddress" [(ngModel)]="user.EmailAddress" placeholder="Email Address">
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-4 col-form-label">Date Hired: </label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="DateHired" [(ngModel)]="user.DateHired" placeholder="Date Hired">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-4 col-form-label">Office/Brgy Station: </label>
                                <div class="col-sm-8">
                                    <nb-select selected="0" id="Station" [(ngModel)]="user.Station">
                                        <nb-option value="0"> Please Select </nb-option>
                                        <nb-option value="1"> MCDRRMO Office </nb-option>
                                        <nb-option value="3">Alabang</nb-option>
                                        <nb-option value="4">Ayala-alabang</nb-option>
                                        <nb-option value="5">Bayanan</nb-option>
                                        <nb-option value="6">Buli</nb-option>
                                        <nb-option value="7">Cupang</nb-option>
                                        <nb-option value="8">Poblacion</nb-option>
                                        <nb-option value="9">Putatan</nb-option>
                                        <nb-option value="10">Sucat</nb-option>
                                        <nb-option value="11">Tunasan</nb-option>
                                    </nb-select>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-4 col-form-label">Position: </label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="Position" [(ngModel)]="user.Position" placeholder="Position">
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-4 col-form-label"> Role: </label>
                                <div class="col-sm-8">
                                    <nb-select selected="0" id="Role" [(ngModel)]="user.Role">
                                        <nb-option value="0"> Please Select </nb-option>
                                        <nb-option value="admin"> Admin </nb-option>
                                        <nb-option value="standarduser"> Standard User </nb-option>
                                    </nb-select>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                  </nb-tab>
                  <nb-tab tabTitle="User Access">
                    <div class="col">
                        <div class="form-group row">
                            <nb-checkbox name="MobileOnly" [(ngModel)]="user.MobileOnly" > Mobile Only </nb-checkbox>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group row">
                            <nb-checkbox name="WebAdmin" [(ngModel)]="user.WebAdmin"> Web Admin </nb-checkbox>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group row">
                            <nb-checkbox name="LocatorAccess" [(ngModel)]="user.LocatorAccess"> Locator Access </nb-checkbox>
                        </div>
                    </div>
                  </nb-tab>
                </nb-tabset>
              </nb-card>
            </div>
        </div>
          
    </nb-card-body>
    <nb-card-footer>
        <button class="cancel" nbButton status="danger" (click)="dismiss()">Cancel</button>
        <button nbButton status="success"  (click)="submitUser()">Submit</button>
    </nb-card-footer>
</nb-card>