<div class="col">
    <div class="col-md-12">
        <nb-card class="inline-form-card">
            <nb-card-header>Locator</nb-card-header>
            <nb-card-body>

                <div class="form-group row d-flex justify-content-between" style="margin-left: 4px;">
                    <div class="d-flex justify-content-evenly">
                        <button nbButton hero status="warning" class="mr-2" (click)="addReport()"> Pin a Location </button>
                    </div>
                </div>

                <div id="map" class="full">
                    
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>


